.demo-list-item {
  overflow: hidden;
  border-radius: 5px;
}

.demo-list-odd,
.demo-list-even {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2f2f2f;
}

.demo-list-odd {
  background-color: #f6f5f5;
}

.demo-list-even {
  background-color: #d7d3d4;
}

.demo-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-block-end: 24px;
}

button,
wx-button {
  padding: 4px 12px;
  border-radius: 6px;
  word-break: break-all;
  font-size: 14px;
  line-height: 20px;
}
